          # ---- {{ room.name }} Card ----
          - type: custom:stack-in-card
            mode: horizontal
            cards:
              - type: vertical-stack
                cards:
                  - type: custom:mushroom-template-card
                    primary: {{ room.name }}
{% if room.environment is defined %}
                    {% raw -%}
                    secondary: >-
                      {{ states('{% endraw -%}{{ room.environment.temp_entity }}{% raw -%}') | round(0) }}°F |
                      {{ states('{% endraw -%}{{ room.environment.humidity_entity }}{% raw -%}') | round(0) }}%
{% endraw -%}
{% endif %}
                    card_mod:
                      style:
                        mushroom-shape-icon$: |
                          .shape {
                            display: none !important;
                          }
                        .: |
                          ha-card {
                            border: 0px;
                            padding-left: 10px;
                            padding-top: 10px;
                            width: 500px;
                          }
                  - type: custom:mushroom-legacy-template-card
                    entity: switch.bedroom_lights_smart_plug
                    layout: horizontal
                    icon: {{ room.icon }}
                    tap_action:
                      action: navigate
                      navigation_path: "#{{ room.plug }}"
                    hold_action:
                      action: more-info
                    double_tap_action:
                      action: more-info
                    {% raw -%}
                    icon_color: >-
                      {% if is_state('light.{% endraw -%}{{ room.plug }}{% raw -%}_lights', 'on')
                        or is_state('switch.{% endraw -%}{{ room.plug }}{% raw -%}_switches', 'on')
                        or is_state('media_player.{% endraw -%}{{ room.plug }}{% raw -%}_mediaplayers', 'on')%}
                          {% endraw -%}{{ room.active_color }}{% raw %}
                      {% else %}
                          #7A7A7F
                      {% endif %}
                    {% endraw -%}
                    primary_info: none
                    secondary_info: none
                    card_mod:
                      style:
                        mushroom-shape-icon$: |
                          .shape {
                            --icon-size: 135px;
                          }
                        .: |
                          ha-card {
                            border: 0px;
                            margin-left: -30px;
                            margin-top: -20px;
                          }
              # ---- Chips ----
              - type: custom:mushroom-chips-card
                chips:
{% if room.lights is defined %}
{% include "includes/chip_lights.j2" %}
{% endif %}

{% if room.switches is defined %}
{% include "includes/chip_switches.j2" %}
{% endif %}

{% if room.media is defined %}
{% include "includes/chip_media.j2" %}
{% endif %}

                card_mod:
                  style: |
                    .chip-container {
                      flex-flow: column wrap-reverse !important;
                      display: flex !important;
                      --chip-spacing: 8px;
                      margin: 12px;
                    }
                    .: |
                    .container {
                      align: end;
                    }
              # ---- End Chips ----
            card_mod:
              style: |
                ha-card {
                  max-width: 100%;
                  min-width: 50%;
                  height: 185px;
                  background: none;
                  box-shadow: 0.5px;
                  border: none;
                }
          # ---- End {{ room.name }} Card ----

