            - type: template
              tap_action:
                action: navigate
                navigation_path: "#shopping"
              entity: {{ todo.entity }}
              icon: mdi:cart-variant
              {% raw -%}
              icon_color: |2-
                  {% if states('{% endraw -%}{{ todo.entity }}{% raw -%}') | int > 0 %}
                    #FFB200
                  {% else %}
                    dark
                  {% endif %}
              content: "{{states('{% endraw -%}{{ todo.entity }}{% raw -%}')}}"
              {% endraw -%}
              hold_action:
                action: none
              double_tap_action:
                action: none

