            - type: template
              tap_action:
                action: navigate
                navigation_path: "#shopping"
              entity: todo.mealie_weekly_meals
              icon: mdi:cart-variant
              {% raw -%}
              icon_color: |2-
                  {% if states('todo.mealie_weekly_meals') | int > 0 %}
                    #FFB200
                  {% else %}
                    dark
                  {% endif %}
              content: "{{states('todo.mealie_weekly_meals')}}"
              {% endraw -%}
              hold_action:
                action: none
              double_tap_action:
                action: none

