
            - type: action
              tap_action:
                action: perform-action
                perform_action: input_boolean.toggle
                target:
                  entity_id: input_boolean.kiosk_mode
                data: {}
              icon: mdi:fit-to-screen-outline

