            - type: template
              tap_action:
                action: navigate
                navigation_path: "#pool"
              entity: {{ pool.water_temp.entity }}
              icon: mdi:pool
              {% raw -%}
              icon_color: |2-
                  {% if is_state('{% endraw -%}{{ pool.filter_pump.entity }}{% raw -%}', 'on') %}
                    #5e50d7
                  {% else %}
                    dark
                  {% endif %}
              content: |
                {% if states('{% endraw -%}{{ pool.water_temp.entity }}{% raw -%}') not in ['unavailable'] %}
                  {{ states('{% endraw -%}{{ pool.water_temp.entity }}{% raw -%}')}}°F
                {% else %}
                
                {% endif %}
              {% endraw -%}
              hold_action:
                action: none
              double_tap_action:
                action: none
