{% include "includes/kiosk_mode.j2" %}

views:
  - type: masonry
    card_mod: null
    style: |
      ha-card {
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 5;
      position: fixed;
      }
    cards:
      - type: horizontal-stack
        cards:
        # Room Cards
{% for room in rooms %}
{% include "includes/room_card.j2" %}
{% endfor %}

        # Room Card Popups
{% for room in rooms %}
{% include "includes/room_card_popup.j2" %}
{% endfor %}


    badges: []
    icon: mdi:home
    background:
      opacity: 100
      alignment: center
      size: cover
      repeat: no-repeat
      attachment: fixed
    path: mobilehome
    theme: Tablet