{% if kiosk_mode is defined and kiosk_mode is true %}
{% include "includes/kiosk_mode.j2" %}
{% endif %}

views:
  - type: masonry
    card_mod: null
    style: |
      ha-card {
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 5;
        position: fixed;
      }

    cards:
      # Button Stack at Top Row
      - type: horizontal-stack
        cards:
          - type: custom:mushroom-chips-card
            alignment: center
            chips:
{% if climate is defined %}
{% include "includes/top_row_climate.j2" %}
{% endif %}

{% if todo is defined %}
{% include "includes/top_row_todo.j2" %}
{% endif %}

{% if cameras is defined %}
{% include "includes/top_row_cameras.j2" %}
{% endif %}

{% if pool is defined %}
{% include "includes/top_row_pool.j2" %}
{% endif %}

{% if kiosk_mode is defined and kiosk_mode is true %}
{% include "includes/top_row_kiosk.j2" %}
{% endif %}
      # END button stack at top row
      # weather
{% include "includes/weather_card.j2" %}

      # Room Cards
      - type: custom:layout-card
        layout_type: grid
        layout:
          grid-template-columns: repeat(auto-fit, minmax(180px, 1fr))
          grid-gap: 8px
          margin: 0
        cards:
{% for room in rooms %}
{% include "includes/room_card.j2" %}
{% endfor %}

      # Top Row Popups
{% if climate is defined %}
{% include "includes/chip_climate.j2" %}
{% endif %}
{% if todo is defined %}
{% include "includes/chip_todo.j2" %}
{% endif %}
{% if cameras is defined %}
{% include "includes/chip_cameras.j2" %}
{% endif %}
{% if pool is defined %}
{% include "includes/chip_pool.j2" %}
{% endif %}

      # Room Card Popups
{% for room in rooms %}
{% include "includes/room_card_popup.j2" %}
{% endfor %}

    badges: []
    icon: mdi:home
    background:
      opacity: 100
      alignment: center
      size: cover
      repeat: no-repeat
      attachment: fixed
    path: mobilehome
    theme: Tablet